@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Oxygen:wght@400;700&family=Teko:wght@300;400&display=swap');

:root{
  color1: #0C0029;
  color2: #1B0041;
  contraste1: #FFA630;
  contraste2: #371187;
  color3: #ECEBF3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #0C0029;
}

.App{
  background: #0C0029;
  font-family: 'Oxygen', sans-serif;
  color: #ECEBF3;
  width: 100%;
  height: 100%;
}

.header {
  min-width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header h1{
  font-size: 4rem;
  font-family: 'Teko', sans-serif;
  font-weight: light;
  order: 1;
  text-align: center;
  width: 100%;
  header: min-content;
}

.header h2{
  color: #d4d3dbc5;
  order: 2;
  text-align: center;
  display: block;
  font-size: 1.15rem;
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%; 
}

.search{
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}

.search .input{
  width: 70%;
  height: 6vh;
  border-radius: 3vh;
  padding: 1rem;
  background: #ecebf3c7;
  border: none !important;
  font-family: 'Oxygen', sans-serif;
  font-weight: light;
  font-size: 1rem;
}

.search .btn{
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 2rem;
  transform: translatex(-2.2rem);
}

.search .btn svg{
  fill: #0C0029 !important;
}

.pokeContainer{
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  margin: 1rem 2rem;
}

.pokeContainer .container{
  display: flex;
  margin: 2rem 1rem;
  border-radius: 5px;
  width: 15%;
  height: max-content;
  position: relative !important;
}

.card{
  cursor: pointer !important;
  position: relative;
  width: 100%;
  margin: 0;
  z-index: 2;
  font-style: capitalize;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, .2);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
  border-radius: 7px;
  font-size: .75em;
}

.pokeball{
  fill: #ecebf386;
  transition: all 0.3s ease;
}

.pokeballBack{
  position: absolute;
  z-index: 0; 
  display: flex;
  align-self: center;
  justify-self: center;
  fill: #ecebf359;
  transition: all 0.3s ease;
}

.pokeContainer .container:hover .pokeball{
  fill: #ecebf3f3;
  transition: all 0.3s ease;
}

.pokeContainer .container:hover .pokeballBack{
  fill: #ecebf383;
  transition: all 0.3s ease;
}
